/********************************** Tags *************************************/
body {
  background-color: #grey;
  margin: 0;
  text-align: center;
}

a {
  color: #11999e;
}
h1 {
  color: #11999e;
  margin-top: 0;
  font-size: 3em;
  font-weight: 400;
  font-family: 'Short Stack', cursive;
}

h2 {
  font-size: 2rem;
  color: #11999e;
  font-family: 'Short Stack', cursive;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 6px;
  border-color: lightgrey;
  width: 5%;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

/********************************** Classes *************************************/

.topcontainer {
  /* background-color: #e0ebe8; */
  background: rgb(34, 193, 195);
  background: linear-gradient(
    13deg,
    rgba(34, 193, 195, 0.4231442577030813) 0%,
    rgba(244, 45, 253, 0.12622549019607843) 100%
  );
  padding-top: 160px;
  position: relative;
}

.middlecontainer {
}

.bottom-container {
  margin-top: 30px;
  background-color: #66bfbf;
  padding: 30px;
}

.top-cloud {
  position: absolute;
  right: 270px;
}

.bottom-cloud {
  position: absolute;
  opacity: 0.7;
}

.mountain {
  opacity: 0.5;
}

.profile {
  width: 35%;
  border-radius: 100%;
  margin: 0 auto;
  padding: 20px;
}

.skill-row {
  /* making the width less than block will override the centre alignment of the body
  so need to make margin: auto; to get it back to the centre */
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

/*
This property clears the wrapping of text (in the case of float)
.description {
  clear: left;
}

.description2 {
  clear: right;
} */

.printing {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.stickers {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.myButton {
  box-shadow: 0px 5px 7px -7px #276873;
  background: linear-gradient(to bottom, #66bfbf 5%, #2e979e 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
  padding: 13px 32px;
  text-decoration: none;
  margin-top: 20px;
  /* text-shadow: 0px 1px 0px #3d768a; */
}
.myButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.footer-link {
  /* font-size: 1.5rem; */
  font-weight: normal;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 10px 0 10px;
  text-decoration: none;
  color: #11999e;
}

/* pink square 30px wide by 30px tall and rotated 45 degrees counter-clockwise */
.heart {
  /* position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  background-color: pink;
  height: 2em;
  width: 2em;
  transform: rotate(-45deg);
}
.heart::after {
  background-color: pink;
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0px;
  left: 1em;
}
.heart::before {
  content: '';
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 2em;
  height: 2em;
  top: -1em;
  left: 0px;
}
