/* pink square 30px wide by 30px tall and rotated 45 degrees counter-clockwise */
.heart {
  /* position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
  background-color: pink;
  height: 2em;
  width: 2em;
  transform: rotate(-45deg);
}
.heart::after {
  background-color: pink;
  content: '';
  border-radius: 50%;
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0px;
  left: 1em;
}
.heart::before {
  content: '';
  background-color: pink;
  border-radius: 50%;
  position: absolute;
  width: 2em;
  height: 2em;
  top: -1em;
  left: 0px;
}
